# Зависимости
node_modules/
**/node_modules/

# Сборки
build/
dist/
**/build/
**/dist/

# Тесты
coverage/
**/coverage/

# Конфигурационные файлы
.prettierrc
**/.prettierrc
postcss.config.js
tailwind.config.js

# Документация
docs/
**/docs/

# Скрипты
scripts/
**/scripts/

# Временные файлы
*.log
**/*.log 